/* 
    CSS Guide 

    1.  General Grid Styles
        Utility Classes
    2.  Mobile Grid
    3.  Tablet Grid
    4.  Desktop Grid
    5.  XL Grid

 */

/* 1. ---General Grid Styles--- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ---Utility Classes--- */

.hidden {
  display: none;
}

.box {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: black;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* 2. ---Mobile Library Grid Styles--- */
#hero-image {
  padding: 60px 0px;
}
#product1-image {
  padding: 35px 0px;
}
#product2-image {
  padding: 35px 0px;
}
#service1 {
  padding: 40px 0px;
}
#service2 {
  padding: 40px 0px;
}
#service3 {
  padding: 40px 0px;
}
#service4 {
  padding: 40px 0px;
}
#service5 {
  padding: 40px 0px;
}
#service6 {
  padding: 40px 0px;
}
#image {
  display: none;
  padding: 40px 0px;
}
#footer {
  padding: 35px 0px;
}

.grid-con {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-span-full {
  grid-column: 1/ -1;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-start-3 {
  grid-column-start: 3;
}
.col-start-4 {
  grid-column-start: 4;
}

.col-end-1 {
  grid-column-end: 1;
}
.col-end-2 {
  grid-column-end: 2;
}
.col-end-3 {
  grid-column-end: 3;
}
.col-end-4 {
  grid-column-end: 4;
}
.col-end-5 {
  grid-column-end: 5;
}

/* 3. ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
  .grid-con {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  #nav {
    text-align: right;
  }
  #hero-image {
    padding: 80px 0px;
  }
  #product1-image {
    padding: 50px 0px;
  }
  #product2-image {
    padding: 50px 0px;
  }
  #service1 {
    padding: 65px 0px;
  }
  #service2 {
    padding: 65px 0px;
  }
  #service3 {
    padding: 65px 0px;
  }
  #service4 {
    padding: 65px 0px;
  }
  #service5 {
    padding: 65px 0px;
  }
  #service6 {
    padding: 65px 0px;
  }
  #footer {
    padding: 50px 0px;
  }

  .m-col-start-1 {
    grid-column-start: 1;
  }
  .m-col-start-2 {
    grid-column-start: 2;
  }
  .m-col-start-3 {
    grid-column-start: 3;
  }
  .m-col-start-4 {
    grid-column-start: 4;
  }
  .m-col-start-5 {
    grid-column-start: 5;
  }
  .m-col-start-6 {
    grid-column-start: 6;
  }
  .m-col-start-7 {
    grid-column-start: 7;
  }
  .m-col-start-8 {
    grid-column-start: 8;
  }
  .m-col-start-9 {
    grid-column-start: 9;
  }
  .col-start-10 {
    grid-column-start: 10;
  }
  .m-col-start-11 {
    grid-column-start: 11;
  }
  .m-col-start-12 {
    grid-column-start: 12;
  }

  .m-col-end-1 {
    grid-column-end: 1;
  }
  .m-col-end-2 {
    grid-column-end: 2;
  }
  .m-col-end-3 {
    grid-column-end: 3;
  }
  .m-col-end-4 {
    grid-column-end: 4;
  }
  .m-col-end-5 {
    grid-column-end: 5;
  }
  .m-col-end-6 {
    grid-column-end: 6;
  }
  .m-col-end-7 {
    grid-column-end: 7;
  }
  .m-col-end-8 {
    grid-column-end: 8;
  }
  .m-col-end-9 {
    grid-column-end: 9;
  }
  .m-col-end-10 {
    grid-column-end: 10;
  }
  .m-col-end-11 {
    grid-column-end: 11;
  }
  .m-col-end-12 {
    grid-column-end: 12;
  }
  .m-col-end-13 {
    grid-column-end: 13;
  }
}

/* 4. --laptop styles-- */
@media screen and (min-width: 1200px) {
  .grid-con {
    /* grid-template-columns: repeat(14, minmax(0, 1fr)); */
    grid-template-columns: repeat(12, 1fr);
  }
  #nav {
    text-align: right;
  }
  #hero-image {
    padding: 80px 0px;
  }
  #product1-image {
    padding: 50px 0px;
  }
  #product2-image {
    padding: 50px 0px;
  }
  #service1 {
    padding: 65px 0px;
  }
  #service2 {
    padding: 65px 0px;
  }
  #service3 {
    padding: 65px 0px;
  }
  #service4 {
    padding: 65px 0px;
  }
  #service5 {
    padding: 65px 0px;
  }
  #service6 {
    padding: 65px 0px;
  }
  #footer {
    padding: 50px 0px;
  }
  #image {
    display: grid;
    padding: 65px 0px;
  }

  .l-col-start-1 {
    grid-column-start: 1;
  }
  .l-col-start-2 {
    grid-column-start: 2;
  }
  .l-col-start-3 {
    grid-column-start: 3;
  }
  .l-col-start-4 {
    grid-column-start: 4;
  }
  .l-col-start-5 {
    grid-column-start: 5;
  }
  .l-col-start-6 {
    grid-column-start: 6;
  }
  .l-col-start-7 {
    grid-column-start: 7;
  }
  .l-col-start-8 {
    grid-column-start: 8;
  }
  .l-col-start-9 {
    grid-column-start: 10; /*I changed the properties of class .l-col-start-9 because it fixed my problem. Still configuring the issue why*/
  }
  .col-start-10 {
    grid-column-start: 10;
  }
  .l-col-start-11 {
    grid-column-start: 11;
  }
  .l-col-start-12 {
    grid-column-start: 12;
  }

  .l-col-end-1 {
    grid-column-end: 1;
  }
  .l-col-end-2 {
    grid-column-end: 2;
  }
  .l-col-end-3 {
    grid-column-end: 3;
  }
  .l-col-end-4 {
    grid-column-end: 4;
  }
  .l-col-end-5 {
    grid-column-end: 5;
  }
  .l-col-end-6 {
    grid-column-end: 6;
  }
  .l-col-end-7 {
    grid-column-end: 7;
  }
  .l-col-end-8 {
    grid-column-end: 8;
  }
  .l-col-end-9 {
    grid-column-end: 9;
  }
  .l-col-end-10 {
    grid-column-end: 10;
  }
  .l-col-end-11 {
    grid-column-end: 11;
  }
  .l-col-end-12 {
    grid-column-end: 12;
  }
  .l-col-end-13 {
    grid-column-end: 13;
  }
}
